include _mixins

- var siteUrl = 'http://kvendrik.com';
- var siteDesc = 'Front-end Developer & Entrepreneur';
- var siteDescLong = 'Front-end Developer, Entrepreneur, Dutch, based in Ottawa, Canada.';
- var siteName = 'Koen Vendrik';

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="initial-scale=1, user-scalable=no")

        title #{siteName} - #{siteDesc}
        meta(name="description" content="#{siteDescLong}")

        meta(name="author" content="Koen Vendrik")
        meta(name="follow" content="index, follow")

        meta(property="og:site_name", content="#{siteName}")
        meta(property="og:locale", content="en_GB")
        meta(property="og:type", content="website")
        meta(property="og:description", content="#{siteDescLong}")
        meta(property="og:url", content="#{siteUrl}")
        meta(property="og:title", content="#{siteName} - #{siteDesc}")
        meta(property="og:image", content="#{siteUrl}/www/img/kvendrik-og.png")

        meta(property="fb:app_id" content="1558942351039907")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@kvendrik")
        meta(name="twitter:url" content="#{siteUrl}")
        meta(name="twitter:title" content="#{siteName} - #{siteDesc}")
        meta(name="twitter:description" content="#{siteDescLong}")
        meta(name="twitter:image" content="#{siteUrl}/www/img/kvendrik-og.jpg")

        link(rel='apple-touch-icon', sizes='57x57', href='/www/img/favicons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/www/img/favicons/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/www/img/favicons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/www/img/favicons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/www/img/favicons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/www/img/favicons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/www/img/favicons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/www/img/favicons/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/www/img/favicons/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='/www/img/favicons/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='/www/img/favicons/favicon-194x194.png', sizes='194x194')
        link(rel='icon', type='image/png', href='/www/img/favicons/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='/www/img/favicons/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='/www/img/favicons/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='/www/img/favicons/manifest.json')
        link(rel='mask-icon', href='/www/img/favicons/safari-pinned-tab.svg', color='#000000')
        link(rel='shortcut icon', href='/www/img/favicons/favicon.ico')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-TileImage', content='/www/img/favicons/mstile-144x144.png')
        meta(name='msapplication-config', content='/www/img/favicons/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        link(rel="stylesheet" href="/www/css/main.css")

        <!--[if IE 8]>
        script(src='/www/js/libs/html5shiv.min.js')
        <![endif]-->

        <script src="https://use.typekit.net/kna7pjj.js"></script>
        script.
            try{Typekit.load({ async: true });}catch(e){}

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-62916044-1', 'auto');
            ga('send', 'pageview');

    body

        block content
