include _mixins

- var siteUrl = 'http://kvendrik.com';
- var siteDesc = 'Tech Entrepreneur & Full Stack Developer';
- var siteDescLong = 'Young tech entrepreneur and full stack software developer who works on making technology more human friendly. Co-Founder of Whitespell and Duxilio.';
- var siteName = 'Koen Vendrik';

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="initial-scale=1, user-scalable=no")

        title #{siteName} - #{siteDesc}
        meta(name="description" content="#{siteDescLong}")

        meta(name="author" content="Koen Vendrik")
        meta(name="follow" content="index, follow")

        meta(property="og:site_name", content="#{siteName}")
        meta(property="og:locale", content="en_GB")
        meta(property="og:type", content="website")
        meta(property="og:description", content="#{siteDescLong}")
        meta(property="og:url", content="#{siteUrl}")
        meta(property="og:title", content="#{siteName} - #{siteDesc}")
        meta(property="og:image", content="#{siteUrl}/img/kvendrik-og.png")

        meta(property="fb:app_id" content="1558942351039907")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@kvendrik")
        meta(name="twitter:url" content="#{siteUrl}")
        meta(name="twitter:title" content="#{siteName} - #{siteDesc}")
        meta(name="twitter:description" content="#{siteDescLong}")
        meta(name="twitter:image" content="#{siteUrl}/img/kvendrik-og.jpg")

        link(rel="apple-touch-icon", sizes="57x57", href="/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="/img/favicons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/img/favicons/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="/img/favicons/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/img/favicons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/img/favicons/manifest.json")
        link(rel="shortcut icon", href="/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor", content="#f7f7f7")
        meta(name="msapplication-TileImage", content="/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config", content="/img/favicons/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")


        link(rel="stylesheet" href="/css/main.css")

        <!--[if IE 8]>
        script(src='js/libs/html5shiv.min.js')
        <![endif]-->

        //- script(src="//use.typekit.net/dqg3yef.js")
        //- script.
        //-     try{Typekit.load();}catch(e){}

    body

        block content

        script(src="/js/app.min.js")